<mat-nav-list (click)="onSideNavClose()">
    <a mat-list-item routerLink="/signup">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/training">
        <mat-icon>local_library</mat-icon>
        <span class="nav-caption">Training</span>
    </a>
    <a mat-list-item routerLink="/contact">
        <mat-icon>contacts</mat-icon>
        <span class="nav-caption">Contact Us</span>
    </a>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span>Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>