.city-feature{
    margin-bottom: 5px;
    padding-left: 10px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

.box {
    width: 22%;
    height: 100px;
    margin: 16px;
    display: inline-block;
}

 h2,h3{
    padding-left: 12px;
}
img{
    height: 100px;
    width: 150px;
    border-radius: 15px;
}

section{
    width: 100%;  
    padding: 15px 0px 15px 10px;
    background-color: #f4f4f4;
}