<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px">
    <!-- <img src="assets/image/1.jpg" alt="img"> -->
    <!-- <section>
        <h1>ACTIVITY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    </section>
    <section>
        <h1>COMMUNITY</h1>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
    </section>
    <section>
        <h1>CHALLENGES</h1>
        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
    </section> -->
    <section class="section-meals">
        <ul class="meals-showcase">
            <li>
                <figure class="meal-photo">
                   <img src="assets/1.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/2.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/3.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/4.jpg" alt="something">
                </figure>
            </li> 
        </ul>
        <ul class="meals-showcase">
            <li>
                <figure class="meal-photo">
                   <img src="assets/5.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/6.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/7.jpg" alt="something">
                </figure>
            </li> 
            <li>
                <figure class="meal-photo">
                    <img src="assets/8.jpg" alt="something">
                </figure>
            </li> 
        </ul>
    </section>
    <section>
        <button class="btn btn-full">VEG</button>
        <button class="btn btn-ghost">NON VEG</button>
    </section>
    <section class="section-features">
        <div class="row">
            <h2>Get food fast &ndash; not fast food</h2>
            <p class="long-copy">We are committed to nurturing a neutral platform and are helping food establishments
                maintain high standards through Hyperpure. Food Hygiene Ratings is a coveted mark of quality among our
                restaurant partners.
            </p>
        </div>
        <div class="row">
            <div class="col span-1-of-4 row-in">
                <ion-icon name="alarm-outline" class="icon-big"></ion-icon>
                <h3>Up to 365 days/year</h3>
                <p>The Uber Eats app connects you with a broad range of local restaurants and food, so you can order from
                    the full menus of your local favorites whenever you want.</p>
            </div>
            <div class="col span-1-of-4 row-in">
                <ion-icon name="rocket-outline" class="icon-big"></ion-icon>
                <h3>Ready in 28 mins</h3>
                <p>Uber Eats is our food delivery platform that makes getting great food from your favorite local
                    restaurants as easy as requesting a ride.</p>
            </div>
            <div class="col span-1-of-4 row-in">
                <ion-icon name="notifications-circle-outline" class="icon-big"></ion-icon>
                <h3>100% organic</h3>
                <p>The Uber Eats app connects you with a broad range of local restaurants and food, so you can order
                    from the full menus of your local favorites whenever you want.</p>
            </div>
            <div class="col span-1-of-4 row-in">
                <ion-icon name="thumbs-up-outline" class="icon-big"></ion-icon>
                <h3>Order anything</h3>
                <p>Zomato was awarded as Startup of the year in 2014 by ET. Google awarded Best Top Developer Badge to
                    Zomato in 2016.</p>
            </div>
        </div>
    </section>
</div>
<div>
    <app-steps></app-steps>
</div>
<div>
    <app-testimonials></app-testimonials>
</div>
<div>
    <app-cities></app-cities>
</div>
