<section class="section-testimonials">
    <h2>
        Our customers can't live without us
    </h2>
    <div class="kuchbi">
        <blockquote>
            The main purpose of using this form is to understand and assess the needs of the customers so that
            the services of the restaurant can be modified in such a way that they can satisfy the customers
            completely.
            <cite><img src="assets/customer1.jpg" alt="1">
                Jia</cite>
        </blockquote>
    </div>
    <div class="kuchbi">
        <blockquote>
            The main purpose of using this form is to understand and assess the needs of the customers so that
            the services of the restaurant can be modified in such a way that they can satisfy the customers
            completely.
            <cite><img src="assets/customer2.jpg" alt="1">
                Anand</cite>
        </blockquote>
    </div>
    <div class="kuchbi">
        <blockquote>
            The main purpose of using this form is to understand and assess the needs of the customers so that
            the services of the restaurant can be modified in such a way that they can satisfy the customers
            completely.
            <cite><img src="assets/customer3.jpg" alt="1">
                Puneet</cite>
        </blockquote>
    </div>
</section>